@import "../../responsive.scss";

.listPage {
    display: flex;
    height: 100%;

    .listContainer {
        flex: 3;
        min-width: 0;
        height: 100%;

        .wrapper {
            height: 100%;
            padding-right: 24px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            overflow-y: auto;
            padding-bottom: 40px;
            .noProperties {
                text-align: center;
                font-size: 22px;
            }
        }
    }

    .mapContainer {
        flex: 2;
        height: 100%;
        background-color: #fcf5f3;
        min-width: 0;

        @include md {
            display: none;
        }
    }

    @include md {
        flex-direction: column;
        gap: 16px;

        .listContainer {
            .wrapper {
                padding-right: 0;
                padding-bottom: 20px;
            }
        }
    }

    @include sm {
        gap: 12px;

        .listContainer {
            .wrapper {
                gap: 16px;
                padding-bottom: 16px;
            }
        }
    }
}
